/* background: linear-gradient(90deg, #00246B 65%, #8AB6F9 35%); */
/* font-family: Trebuchet MS; */
/* font-family: Calibri; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 5%;
    margin: 0;
    border-bottom: 1px solid rgba(244, 244, 244, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    top: 0; right: 0; left: 0;
    height: 75px;
    background: linear-gradient(90deg, #00246B 65%, #8AB6F9 35%);
    z-index: 100;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Trebuchet MS;
    font-weight: 700;
}
.navbar{
    word-spacing: 40px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    font-family: Calibri;
    transition: 0.5s;
}
.navbar a:hover{
    color: #00246B;
}
.header #toggler{
    display: none;
}
.header .bx-menu{
    font-size: 34px;
    color: white;
    border-radius: 5px;
    padding: 1px 2px;
    cursor: pointer;
    display: none;
}

/* ----------------Home--------------- */

#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #00246B 65%, #8AB6F9 35%);
    padding-left: 13%;
    position: relative;
}
.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.left_container{
    width: 100%;
    max-width: 600px;   
}
.left_container h1{
    color: white;
    font-family: Calibri;
    font-weight: 500;
    font-size: 40px;
}
.left_container h2{
    color: white;
    font-family: Trebuchet MS;
    font-weight: 900;
    font-size: 50px;
}
.left_container h3{
    font-family: Calibri;
    color: #8AB6F9;
    font-size: 45px;
    font-weight: 500;
}
.left_container p{
    color: white;
    font-family: Calibri;
    font-size: 25px;
    font-weight: 100;
}
.download-btn{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    padding: 4px;
    font-size: 18px;
    font-family: trebuchet MS;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition: transform 0.3s;
}
.download-btn:hover{
    background: #8AB6F9;
    color: white;
    
}
.download-btn:active{
    transform: translateY(10px);
}
.icon{
    padding-top: 5%;
}
.icon a{
    font-family: Calibri;
    text-decoration: none;
    color: white;
/*     background: white; */
    font-size: 20px;
    margin-right: 15px;
    padding: 6px;
/*     border-radius: 50%; /* Makes the icons circular */ */
/*     display: inline-flex; /* Ensures icons are displayed inline */ */
/* }
.icon a i.bxl-github{
    color: black;
}
.icon a i.bxl-linkedin-square{
    color: blue;
}
.icon a i.bx-envelope{
    color: red;
}
 */


/* ----------------About--------------- */


#about{
    width: 100%;
    height: 100vh;
    background: white
}
.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-head{
    width: 200px;
    margin-bottom: 25px;
}
.about-head h1{
    color: #00246B;
    font-family: Trebuchet MS;
    font-size: 35px;
    font-weight: 700;
}
.about-content{
    width: 800px;
    line-height: 1.8;
}
.about-content p{
    font-family: calibri;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
.about-content span{
    color: #00246B;
    font-family: trebuchet MS;
    font-weight: 700;
    border-bottom: 2px solid #8AB6F9;
}


/* ----------------Skills--------------- */

#skills{
    width: 100%;
    height: 100vh;
    background: rgba(138, 182, 249, 0.4);
}
.skills{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-head{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}
.skills-head h1{
    color: #00246B;
    font-family: Trebuchet MS;
    font-size: 35px;
    font-weight: 700;
}
.box-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.box{
    box-shadow: 0 4px 10px rgba(0, 36, 107, 1);
    border-radius: 10px;
    border: 0;
    background: white;
    text-align: center;
    transition: 0.5s;
    height: 150px;
}
.box:hover{
    transform: scale(1.02);
}
.box img{
    width: 150px;
    height: 150px;
}

/* ----------------Project--------------- */

#project{
    width: 100%;
    height: 100vh;
    background: white;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-head{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}
.project-head h1{
    color: #00246B;
    font-family: Trebuchet MS;
    font-size: 35px;
    font-weight: 700;
}
.project-content{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.project-live{
    padding: 10px;
    vertical-align: top;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 36, 107, 1);
    border-radius: 10px;
    border: 0;
    background: white;
    transition: 0.5s;
}
.project-live:hover{
    transform: scale(1.02);
}
.thumbnail{
    width: 250px;
    border-radius: 125px;
    box-shadow: 0px 4px 10px 0px rgba(0, 36, 107, 1);
}
.name{
    padding-top: 20px;
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
.title{
    font-family: Calibri;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 5px;
}
.live-button{
    background-color: rgba(138,182,249,1);
    color: black;
    width: 100px;
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-family: Trebuchet MS;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.live-button:hover{
    background-color: black;
    color: white;
    box-shadow: rgba(138, 182, 249, 1) 0px 4px 10px 0px;
    /* transition: transform 0.5s; */
}
.live-button:active{
    background-color: rgba(138,182,249,1);
    color: white;
    box-shadow: rgba(138,182,249,1) 0px 4px 10px 0px;
    transform: translateY(5px);
}

/* ----------------Contact--------------- */

#contact{
    width: 100%;
    height: 100vh;
    background: rgba(138, 182, 249, 0.4);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-head{
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}
.contact-head h1{
    color: #00246B;
    font-family: Trebuchet MS;
    font-size: 35px;
    font-weight: 700;
}
.row{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.mail{
    font-family: Calibri;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.mail a{
    text-decoration: none;
    color: blue;
}
.phone{
    font-family: Calibri;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}
.message{
    font-family: Calibri;
    font-size: 24px;
    font-weight: 100;
    margin-top: 150px;
}

.contact-left{
    /* flex-basis: 45%; */
    max-width: 500px;
}
.contact-right{
    max-width: 500px;
}
.contact-right input[type="text"],
.contact-right input[type="email"],
.contact-right textarea {
    width: 85%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-right textarea {
    resize: vertical;
    height: 200px;
}

.contact-right button[type="submit"] {
    width: 85%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contact-right button[type="submit"]:hover {
    background-color: #0056b3;
}
